#one{
    padding: 10px;
    border-right: 1px solid black;
}
#two{
   
    padding: 10px;
    border-right: 1px solid black;
}
hr{
    border-top:1px solid black
}
#po{
    background-color: lightgray;
}